* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: var(--info);
  height: 100vh;

  .header {
    height: 150px;
    background-color: var(--default);
    margin: 0;

    form {
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    input {
      height: 45px;
      text-decoration: none;

      padding: 0 0.5em;
      margin: 0 5px;

      &.error {
        background-color: var(--error);
      }
    }

    .date_input {
      width: 10%;
      top: -1%;
    }

    .input {
      width: 30%;
    }
  }

  .task_container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 70%;
  }
}
